# === Исключить из статистики языков ===

# Документация и сайт
docs/** linguist-documentation
*.md linguist-documentation
LICENSE linguist-documentation

# Артефакты сборки
*.spec linguist-generated
*.exe linguist-generated
*.ico linguist-generated

# Конфиги и данные пользователя
*.json linguist-generated
*.txt linguist-generated  # кроме requirements.txt

# Временные файлы
__pycache__/ linguist-generated
*.pyc linguist-generated
*.log linguist-generated
